{% extends 'home.html' %}

{% block content %}
  <h1>Facebook Search</h1>
  <form method="POST" action="{{ url_for('facebook_search') }}">
    {{ facebook_form.hidden_tag() }}
    <div>
      {{ facebook_form.query.label }}
      {{ facebook_form.query(size=20) }}
    </div>
    <div>
      {{ facebook_form.sector.label }}
      {{ facebook_form.sector(size=20) }}
    </div>
    <div>
      {{ facebook_form.location.label }}
      {{ facebook_form.location(size=20) }}
    </div>
    <div>
      <button type="submit">Search</button>
    </div>
  </form>

  <h2>Search Results</h2>
  <ul>
    {% for result in search_results %}
      <li>
        <a href="{{ result.result_link }}" target="_blank">{{ result.result_title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
