{% extends "home.html" %}

{% block content %}
  <div >
    <h2>Recherche Google</h2>
    <form method="post">
      {% if error_message %}
        <p class="error">{{ error_message }}</p>
      {% endif %}
      <label for="sector">Secteur d'activités:</label>
      <input type="text" id="sector" name="sector" required><br><br>
      
      <label for="location">Localisation (ville, pays):</label>
      <input type="text" id="location" name="location" required><br><br>
      
      <button type="submit">Rechercher</button>
    </form>
  </div>
{% endblock %}
